{% extends 'admin/_base.html.twig' %}

{% block title %}{{ record }}{% endblock %}

{% block body_admin %}

    <h1>{{ block('title') }}</h1>

    <h2>Domains</h2>

    {{ include('domain/_list.html.twig', {domains: record.domains}) }}

    <h2>Records</h2>

    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <button type="submit" class="btn">Save</button>
    {{ form_end(editForm) }}

{% endblock %}
