{% extends 'admin/_base.html.twig' %}

{% block title %}Admin {{ domain }}{% endblock %}

{% block body_admin %}

    <h1>{{ block('title') }}</h1>

    {{ include('_components/form.html.twig', {form: editForm}) }}

    <h2>DNS records</h2>

    <table>
        {% for record in domain.dnsRecords %}
            <tr>
                <td>{{ record.recordType }}</td>
                <td><a href="{{ path('investigation_dns_show', {id: record.id}) }}">{{ record.value }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Reports</h2>

    <table>
        {% for report in domain.reports %}
            <tr>
                <td>{{ report.value }}</td>
                <td>{{ report.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
