<table>
    {% for domain in domains %}
        <tr>
            <td><a href="{{ path('app_domain_check', {host: domain.host}) }}">{{ domain }}</a></td>

            {% if domain.analysis %}
                <td>{{ domain.analysis.rating }}</td>
                <td class="right">
                    <span class="badge alert {{ domain.analysis.rating.cssClass }}"
                          style="background: {{ domain.analysis.rating.badgeColor }}"></span>
                </td>
            {% else %}
                <td colspan="2">No analysis</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
