{% extends 'base.html.twig' %}

{% block title %}Check the email address{% endblock %}

{% block body %}

    <div id="intro" class="card">

        <h1>Is your source legit?</h1>

        <p class="important">
            Want to know if the source of a job posting, partnership or other correspondence is legitimate?
            Use this form to validate an email address or url.
        </p>

        {{ form_start(newCheckForm) }}
        {{ form_widget(newCheckForm) }}
        <button type="submit" class="btn">Check &rarr;</button>
        {{ form_end(newCheckForm) }}
    </div>

    <h2>
        {{ (notLegitReportCount/reportCount*100)|round }}%
        of the {{ reportCount }} checks were not legit
    </h2>

    <table>
        {% for domain in recentDomains %}
            <tr>
                <td><a href="{{ path('app_domain_check', {host: domain.host}) }}">{{ domain }}</a></td>
                <td>{{ domain.analysis.rating }}</td>
                <td class="right"><span
                            class="badge alert {{ domain.analysis.rating.cssClass }}" {{ domain.analysis.rating }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
