{% extends 'base.html.twig' %}

{% block title %}Check an email address{% endblock %}
{% block description %}{{ block('description_text')|striptags }}{% endblock %}


{% block body %}

    <div id="intro" class="card">

        <h1>Is your source legit?</h1>

        <p class="important">
            {% block description_text -%}
                Are you seeking to <b>confirm the credibility</b> of a job offer, potential collaboration, or other professional correspondence? Employ our verification tool to <b>authenticate an email address or URL</b>.
            {%- endblock %}
        </p>

        {{ form_start(newCheckForm) }}
        {{ form_widget(newCheckForm) }}
        <button type="submit" class="btn">Check &rarr;</button>
        {{ form_end(newCheckForm) }}
    </div>

    {% if recentDangerousDomains %}
        <h2>Recently detected fraud attempts</h2>

        {{ include('domain/_list.html.twig', {domains: recentDangerousDomains}) }}
    {% endif %}

    {% if reportCount %}
        <h2>
            {{ (notLegitReportCount/reportCount*100)|round }}%
            of the {{ reportCount }} checks were not legit
        </h2>

        {{ include('domain/_list.html.twig', {domains: recentDomains}) }}
    {% endif %}

{% endblock %}
