{% extends 'base.html.twig' %}

{% block title %}Is {{ domain }} a legit website?{% endblock %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    <p>
        Did you receive an email from someone with an address <i>@{{ domain }}</i>?
        Did you find some information or an offer on a website starting by <i>http(s)://{{ domain }}</i>?
    </p>

    {% if domain.isSafe %}
        <p>
            Is it legit? Short answer: <b>yes</b>.
        </p>
    {% endif %}

    {% set analysis = domain.analysis ?? false %}
    {% if analysis %}

        {% set rating = analysis.rating %}

        <div class="card alert {{ rating.cssClass }}" style="background: {{ rating.backgroundColor }}">


            <h2>{{ rating.title }}: {{ analysis.title }}</h2>

            {% if rating.description or analysis.instructions %}
                <h3>What does that mean?</h3>
                {% if rating.description %}
                    <p>
                        {{ rating.description }}
                    </p>
                {% endif %}
                {% if analysis.instructions %}
                    <p>
                        {{ analysis.instructions }}
                    </p>
                {% endif %}
            {% endif %}

            {% if domain.isSafe %}
                <h3>Visit this website</h3>
                <p>
                    <a href="https://{{ domain }}" class="btn secondary" target="_blank" rel="noopener follow referrer">Go to {{ domain }}</a>
                </p>
            {% endif %}

        </div>

        {% if domain.parentDomain %}
            {% set parent = domain.parentDomain %}
            <h3>Part of {{ parent }}</h3>
            <p>
                The domain {{ domain }} has been marked as being part of {{ parent }}:
                <a href="{{ path('app_domain_check', {host: parent.host}) }}">see {{ parent }} analysis</a>.
            </p>
        {% endif %}

        {% if rating.todo ?? false %}
            <h3>What should you do?</h3>
            <p>
                {{ rating.todo }}
            </p>
        {% endif %}

        {% if reports|length > 5 %}
            <h3>How many times has {{ domain }} been checked?</h3>

            <p>
                This domain has been checked <b>{{ reports|length }} times</b>.
                {% if domain.analysis.rating.isDangerous %}
                    This number can potentially correspond to the number of uncovered fraud schemes commited via {{ domain }}.
                {% endif %}
            </p>

        {% endif %}

    {% else %}
        <div class="card">
            <h2>Under review</h2>
            <p>
                This domain is currently reviewed by our team. We do not recommend to use it for the moment.
            </p>
        </div>
    {% endif %}

{% endblock %}
