{% extends 'base.html.twig' %}

{% block title %}Essential Tools to Protect Yourself from Cyber Threats{% endblock %}
{% block description %}To help you stay secure, we've compiled a list of essential tools that can significantly reduce your risk. These tools provide a robust defense against cyber threats.{% endblock %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    <p class="intro">
        {{ block('description') }}
    </p>


    {% for collection in collections %}
        <div class="card">

            <h2>
                <a href="{{ path('resource_collection', {id: collection.id}) }}" class="with-icon">
                    <span>
                        {{ collection.emoji }}
                    </span>
                    <span>
                        {{ collection.name }}
                    </span>
                </a>
            </h2>

            {{ collection.shortDescription|markdown_to_html }}

        </div>
    {% endfor %}


    <div class="card">

        <h2>
            <a href="{{ path('post_index') }}" class="with-icon">
                <span>
                    📝
                </span>
                <span>
                    Articles
                </span>
            </a>
        </h2>

        <p>
            Stay one step ahead of scammers with those articles on job scams.
            Learn how to recognize and avoid deceptive tactics used by fraudsters in the recruitment process.
        </p>

    </div>

{% endblock %}
