<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %} - {{ app_name }}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}" />


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="revisit-after" content="1 day" />

        <meta name="description" content="{% block description %}{{ app_name }} helps to fight fraud.{% endblock %}" />
        <meta name="author" content="{{ app_name }}" />
        <meta name="copyright" content="Copyright &copy; {{ app_name }} {{ 'now'|date('Y') }}" />
        <meta name="revisit-after" content="1 week" />

        <meta itemprop="description" content="{{ block('description') }}" />
        <meta itemprop="image" content="{{ block('image') }}" />
        <meta itemprop="name" content="{{ block('title') }}" />

        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ app_name }}" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}"/>
        <meta property="og:url" content="{% block currentUrl %}{{ app.request.uri }}{% endblock %}" />
        <meta property="og:image" content="{% block image %}{{ "https://" ~ app.request.httpHost ~ asset('build/images/social.jpg') }}{% endblock %}" />
        <meta property="og:locale" content="en_US" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <a href="{{ path('app_domain_search')}}" id="logo">
                <img src="{{ asset('build/images/icon.svg') }}" alt="{{ app_name }}">
                <span>{{ app_name }}</span>
            </a>
            <nav>
                <ul>
                    <li><a href="{{ path('app_domain_search')}}">Source checker</a></li>
                    <li><a href="{{ path('app_domain_recommend')}}">Reputable websites</a></li>
                    <li><a href="{{ path('post_index')}}">Learn</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>
                Not an official document of the United Nations
            </p>
            <p>
                <a href="https://github.com/UNTalent/UNFraud">Source code and license</a>
                <a href="{{ path('app_domain_blocklist') }}">blocklist.txt</a>
            </p>
        </footer>

        <script async defer src="https://sa.unfraud.org/latest.js"></script>
        <noscript><img src="https://sa.unfraud.org/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/>
        </noscript>

    </body>
</html>
