<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %} - UNFraud.org</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}" />


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="revisit-after" content="1 day" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <a href="{{ path('app_domain_search')}}">
                <img src="{{ asset('build/images/logo.svg') }}" alt="UNFraud">
            </a>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>
                Not an official document of the United Nations
            </p>
            <p>
                <a href="https://github.com/UNTalent/UNFraud">Source code and license</a>
            </p>
        </footer>

    </body>
</html>
