{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.intro }}{% endblock %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    <p class="intro">
        {{ post.intro }}
    </p>

    {{ post.content|markdown_to_html }}

    <p>
        <a href="{{ path('post_index') }}">Other articles &rarr;</a>
    </p>

{% endblock %}
