{% extends 'base.html.twig' %}

{% block title %}Investigation tools{% endblock %}

{% block body %}

    <h1>Investigation tools</h1>

    <h2>DNS Records</h2>

    <table>
    {% for record in dnsRecords %}
        <tr>
            <td>
                {{ record.recordType }}
            </td>
            <td>
                {{ record.domains|length }}
            </td>
            <td>
                {% if record.dangerousDomains|length %}
                    {{ record.dangerousDomains|length / record.domains|length * 100|round(2) }}%
                {% endif %}
            </td>
            <td>
                <a href="{{ path('investigation_dns_show', {id: record.id}) }}">{{ record.value }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
